
h1{
    color: #33658A;
}

ul {
   list-style:square;
   margin-left: 20px;
   padding-left: 1em;
}
li{
    margin: 2px;
}
a:link{
    text-decoration: none;
    color:#33658A;
}
a:hover{

    color:#E39774;
}
a:visited{

    color:#D15A56;
}