
body{
    background: #33658A;
}
div{
   margin: 20px; 
}


.section{
    padding: 10px;
    background:#E39774;
    border-radius: 5px;
}

.two{
    background: #D15A56;
}

.three{
    background: gray;
}

img{
    
    width: 20%;
}